
body {
	margin: 0 1em;
	font-family: 'Lato', sans-serif;
}

* {
	box-sizing: border-box;
}

.box {
	width: 100%;
}

header, section, footer, hr, h1, h2, h3 {
	margin: 2em auto;
}


.img-responsive {
	max-width: 100%;
}

header {
	border-bottom: 3px solid #7d97ad;
}

section:last-of-type {
	border-bottom: 1px solid #7d97ad;
}

.title_logo {
	margin-bottom: 0;
}

svg {
	width: 7vw;
}

.title {
	text-transform: uppercase;
	margin-top: 1em;
	margin-bottom: 2em;
}

h1 {
	font-size: 5vw;
	font-weight: 100;
	margin: 0;
}

h2 {
	margin: 0.5em 0 0.5em 0;
}

.title > h3 {
	margin: 0;
	font-size: 2vw;
}

.project1, .project2, .project3 {
	margin-bottom: 2em;
}


