
body {
	margin: 0 1em;
	font-family: 'Lato', sans-serif;
}

* {
	box-sizing: border-box;
}

.box {
	width: 100%;
}

header, section, footer, hr, h1, h2, h3 {
	margin: 2em auto;
}

hr {
	color: #2d3c49;
}

.img-responsive {
	max-width: 100%;
}

.title_logo {
	margin-bottom: 4em;
}

.title {
	text-transform: uppercase;
}

h1 {
	font-size: 5vw;
	margin-bottom: 0;
	margin-top: 12px;
}

h2 {
	margin: 0.5em;
}

.title > h3 {
	margin-top: 0;
	font-size: 2vw;
}

.title2 {
	margin: 2em 0 1em 0;
}

.project1, .project2, .project3 {
	margin-bottom: 2em;
}

/*
body {
	max-width: 1140px;
	margin: 0 auto 3em auto;
}

header {
	margin-top: 2em;
	margin-bottom: 0;
}

section {

}

footer {

}

* {
	box-sizing: border-box;
}

hr {
	color: #7d97ad;
	margin: 2em 0 2em 0;
}

header, section, footer, hr {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

h1, h2, h3 {
	font-family: inherit;
	width: 100%;
	line-height: 1.1;
	color: inherit;
}

h1{
	font-size: 3em;
	margin-bottom: 0;
	margin-top: 12px;
}

h3{
	margin: 0 0 12px 0;
}
.title-logo {
	width: 50%;
}

.title {
	width: 50%;
	text-align: right;
	text-transform: uppercase;
	vertical-align: top;
}

.project1 {
	float: left;
	margin-right: 10px;
	width: calc((100% - 20px)/3);
}

.project2 {
	float: left;
	margin-right: 10px;
	width: calc((100% - 20px)/3);
}

.project3 {
	margin-right: 0;
	width: calc((100% - 20px)/3);
}

.img-responsive {
	max-width: 100%;
}
*/


