@media screen and (max-width: 600px) {
	.box {
		text-align: center;
	}

	.title3 {
		margin-left: 2px;
	}
}

@media screen and (min-width: 601px) {
	header {
		margin-top: 2em;
		margin-bottom: 0;
	}

	section {

	}

	footer {

	}

	* {
		box-sizing: border-box;
	}

	header, section, footer, hr, .title2 {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	h3{
		margin: 0 0 12px 0;
	}

	.title-logo {
		width: 20%;
	}

	svg {
		margin-top: 8px;
		vertical-align: top;
	}

	.title {
		width: 80%;
		text-align: right;
		text-transform: uppercase;
		vertical-align: top;
		margin-top: 0;
	}
	
	.featured {
		text-align: center;
	}

	.project1 {
		float: left;
		margin-right: 10px;
		width: calc((100% - 20px)/3);
	}

	.project2 {
		float: left;
		margin-right: 10px;
		width: calc((100% - 20px)/3);
	}

	.project3 {
		margin-right: 0;
		width: calc((100% - 20px)/3);
	}

	.title3 {
		margin-left: 2px;
	}

	.img-responsive {
		max-width: 100%;
	}
}

@media screen and (min-width: 800px) {
	header, section, footer {
		max-width: 1140px;
		margin-left: auto;
		margin-right: auto;
	}

	h1{
		font-size: 50px;
		margin-bottom: 0;
		margin-top: 0;
	}
	
	.title > h3 {
		font-size: 20px;
	}



}