@media screen and (max-width: 600px) {
	.header {
		height: 95vh;
		width: auto;
	}	

	.featured, .social {
		text-align: center;
	}

@media screen and (min-width: 601px) {
	section, footer {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	header {
	}

	h3{
		margin: 0 0 12px 0;
	}

	.title-logo {

	}

	svg {

	}

	.title {

	}
	
	.featured {
		text-align: center;
	}

	.title2 {
		text-align: left;
		padding-left: 10px;
	}

	.project1 {
		float: left;
		margin-right: 10px;
		width: calc((100% - 20px)/3);
	}

	.project2 {
		float: left;
		margin-right: 10px;
		width: calc((100% - 20px)/3);
	}

	.project3 {
		float: left;
		margin-right: 0;
		width: calc((100% - 20px)/3);
	}
	
	.viewSource {
		order: 0;
		text-align: left;
		padding-left: 10px;
		padding-top: 0;
		width: 50%;
	}

	.social_items {
		order: 1;
		text-align: right;
		width: 50%;
		border-bottom: none;
		font-size: 18px;
	}
}

@media screen and (min-width: 800px) {
	section, footer {
		max-width: 1140px;
		margin-left: auto;
		margin-right: auto;
	}

	h1{
		font-size: 60px;
	}
	
	.title > h3 {
		font-size: 25px;
	}

	svg {
		width: 100px;
	}

	.title2 {
		font-size: 40px;
	}

	.title3 {
		font-size: 28px;
	}	

}
